.image_wrapper{
    height: 148px;
    overflow: hidden;
}
.post-desc{
    padding-top: 1px;
}
.photo_box h4{
    height: 50px;
    overflow: hidden;
}
.photo_box .desc p{
    height: 144px;
    overflow: hidden;
}
.has-shadow{
    -webkit-box-shadow: 5px 3px 28px 2px rgba(204,204,204,0.86);
    -moz-box-shadow: 5px 3px 28px 2px rgba(204,204,204,0.86);
    box-shadow: 5px 3px 28px 2px rgba(204,204,204,0.86);
}
.has-radius{
    border-radius: 6px;
}
.single-photo-wrapper img{
    width: 100%;
    display: block;
}

.widget_categories ul{
    background: rgba(255, 0, 0, 0.7);
}
.widget_categories ul li{
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}
.entry-title{
    font-size: 22px;
}
.desc h4{
    font-size: 19px;
}